.profile-container {
  display: flex;
  height: 50px;
  width: auto;
}

.container div {
  text-align: center;
}

.detail {
  background: var(--detail-color);
  width: 5%;
}

.profile-content {
  background-color: var(--select-color);
  width: 100%;
  text-align: center;
  padding: 16px;
  font-size: 26px;
}
