.profile-container {
  display: flex;
  height: 30px;
  width: auto;
}

.container div {
  text-align: center;
}

.detail {
  background: var(--detail-color);
  width: 5%;
}

.profile-content {
  background-color: var(--select-color);
  width: 100%;
}
