<button mat-flat-button disableRipple class="element-adder">
  + Aggiungi azienda
</button>

<mat-tree [dataSource]="sideMenu" [treeControl]="treeControl">
  <mat-tree-node
    class="course"
    *matTreeNodeDef="let node"
    [ngClass]="currentCourseID === node.id ? 'selected' : ''"
  >
    <button
      routerLink="/course/{{ node.id }}"
      mat-flat-button
      disableRipple
      matTreeNodeToggle
      (click)="selectCourse(node.id)"
    >
      {{ node.name }}
    </button>
  </mat-tree-node>

  <mat-nested-tree-node
    class="company"
    *matTreeNodeDef="let node; when: isCompany"
  >
    <button mat-flat-button disableRipple matTreeNodeToggle>
      {{ node.name }}
    </button>
    <ng-container
      matTreeNodeOutlet
      *ngIf="treeControl.isExpanded(node)"
    ></ng-container>
  </mat-nested-tree-node>
</mat-tree>
