<button mat-flat-button disableRipple class="element-adder">
  + Aggiungi azienda
</button>

<mat-tree [dataSource]="sideMenu" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <button mat-flat-button disableRipple matTreeNodeToggle>
      {{ node.name }}
    </button>
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: isCompany">
    <div class="mat-tree-node">
      <div class="node">
        <button mat-flat-button disableRipple matTreeNodeToggle>
          {{ node.name }}
        </button>
      </div>
      <div class="node-content">
        <ng-container
          matTreeNodeOutlet
          *ngIf="treeControl.isExpanded(node)"
        ></ng-container>
      </div>
    </div>
  </mat-nested-tree-node>
</mat-tree>
