/* TODO: Make overflow text generate ellipses */
.mat-tree *,
.element-adder {
  display: block;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: 400;
  min-height: auto;
}

.company {
  padding-bottom: 8px;
}

.course {
  margin-left: 19px;
  border-left: 1px solid white;
}

.selected,
.selected button {
  background-color: var(--select-color) !important;
}

.element-adder {
  color: #a3a3a3;
}
