.mat-tree *,
.element-adder {
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.mat-tree-node {
  display: block;
}

.node {
  width: 100%;
}

.node-content {
  padding-left: 20px;
}

.element-adder {
  color: #a3a3a3;
}
