<div class="app-container">
  <div class="sidebar">
    <!-- Logo -->
    <div class="logo-container">
      <mat-icon class="logo">book</mat-icon>
      <div>Registro</div>
    </div>

    <app-profile-bit></app-profile-bit>
    <br />
    <app-company-explorer></app-company-explorer>
    <hr />
    <div class="sidebar-footer">
      <button mat-flat-button disableRipple>Esami</button>
      <br />
      <button mat-flat-button disableRipple>Impostazioni</button>
    </div>
  </div>
  <div class="app-interface">
    <app-front-page></app-front-page>
  </div>
</div>
