.main-container {
  display: flex;
  height: 100%;
}

.side-menu {
  display: flex;
  flex-direction: column;

  color: white;
  background-color: var(--main-color);
  flex-basis: 250px;
}

.side-menu div {
  padding: 16px;
}

.logo-container {
  display: flex;
}

.logo-container div {
  padding: 0px;
}

.logo {
  font-size: 52px;
  vertical-align: baseline;
  height: auto;
  width: auto;
}

.logo + div {
  font-size: 32px;
  padding-top: 8px;
}
