<mat-drawer-container class="app-container">
  <mat-drawer class="sidebar" mode="side" opened>
    <!-- Logo -->
    <div class="logo-container" routerLink="">
      <mat-icon class="logo">book</mat-icon>
      <div>Registro</div>
    </div>

    <app-profile-bit></app-profile-bit>
    <br />
    <app-company-explorer></app-company-explorer>
    <hr />
    <div class="sidebar-footer">
      <button mat-flat-button disableRipple>Esami</button>
      <br />
      <button mat-flat-button disableRipple>Impostazioni</button>
      <br />
      <button mat-flat-button disableRipple>Scarica Excel</button>
    </div>
  </mat-drawer>
  <mat-drawer-container class="app-interface">
    <app-search-bar></app-search-bar>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</mat-drawer-container>
