.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  color: white;
  font-size: 18px;
  background-color: var(--main-color);
  flex: 0 0 250px;
}

.logo-container {
  display: flex;
  padding: 16px;
}

.logo-container:hover {
  cursor: pointer;
}

.logo {
  font-size: 52px;
  vertical-align: baseline;
  height: auto;
  width: auto;
}

.logo + div {
  font-size: 32px;
  padding-top: 0.5em;
}

.sidebar-footer > button {
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.app-interface {
  flex: 0 1 calc(100vw - 250px);
}

hr {
  color: white;
  width: 90%;
}
