.student-card {
  width: 300px;
  margin: 15px 25px;
  padding: 0;
}

.student-card-title {
  background-color: var(--main-color);
  color: white;
  padding: 15px;
  margin: 0;
}

.student-card-content {
  margin: 5px 15px;
}

.student-card-footer {
  margin: 0 15px;
  padding-bottom: 25px;
}
