/* You can add global styles to this file, and also import other style files */

:root {
  --main-color: #3c4c59;
  --bg-color: #f3f3f3;
  --detail-color: #ff0000;
  --select-color: #303e49;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
