.parent {
    display: flex;
    margin-left: 20px;
}

.datepicker {
    width: 350px;
    margin-top: 30px;
}

#picker {
    font-size: 20px;
}

#reg_btn {
    height: 50px;
    width: 120px;
    margin-left: 70%;
    margin-top: 75px;
    font-size: 20px;
}

.topics {
    position: relative;
    margin-top: 40px;  
    width: 100%;
}

.topics textarea {
    color: gray;
    position: relative;  
    margin-top:20px;
    margin-left:10px;
    width: 97%;
    min-width:350px;
    min-height:15px;
    font-size: 20px;
    border:none; 
}

.examslist {
    margin-top: 30px; 
}

.examslist input {    
    border: none;
}

p {
    font-size: 20px;
}

mat-icon {
    margin-right: 10px;
}

mat-list {
    max-height: 400px;
    overflow: auto;
    margin-bottom:40px;
}

mat-divider {
    margin-top: 20px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field {
    font-size: 15px;
}