.parent
{
   display:flex;
   margin-left:20px;
}

mat-icon
{
    margin-right:10px;  
}

.datepicker
{   
    flex-direction: row;  
    align-self: flex-end;
    justify-content: flex-start;   
    width:350px;   
}

.topics
{   
    margin-top:40px;
    flex-direction:column;
    align-self: flex-end;
    justify-content: flex-start; 
}

.topics #bodytopics
{
    color:gray;    
    position:relative;
    margin-left:80px;
    margin-right:40px;
}

.examslist
{      
    flex-direction:column;   
}

.datepicker #picker
{
    font-size:20px;
}

p
{
font-size:20px;
}

mat-list
{
max-height: 400px;
overflow: auto;
}

mat-divider
{
    margin-top:20px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field
{           
    font-size:15px;
}