<div class="parent">

  <div class="datepicker">
    <p><mat-icon matListIcon>today</mat-icon> Seleziona una data:</p>
    <mat-form-field appearance="outline">
      <input id="picker" matInput [matDatepicker]="picker" [value]="currentDate" (dateChange)="dateChangeHandler($event)">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <button id="reg_btn" mat-stroked-button><mat-icon matListIcon>save_document</mat-icon>Salva</button>
</div>

<mat-divider></mat-divider>

<div class="parent">

  <div class="topics">
    <p><mat-icon matListIcon>assignment</mat-icon> Argomenti del giorno:</p>
    <textarea id="bodytopics" role="textbox" rows="10">Testo di prova</textarea>
  </div>
</div>

<div class="parent">
  <div class="examslist">
    <p><mat-icon matListIcon>edit_document</mat-icon> Esami del giorno: </p>
    <mat-list>
      <mat-list-item>
        <input type="text" placeholder="Esame" matLine>
        <input type="text" placeholder="URL" matLine>
      </mat-list-item>

      <mat-list-item>
        <input type="text" placeholder="Esame" matLine>
        <input type="text" placeholder="URL" matLine>
      </mat-list-item>

      <mat-list-item>
        <input type="text" placeholder="Esame" matLine>
        <input type="text" placeholder="URL" matLine>
      </mat-list-item>
    </mat-list>
  </div>
</div>
