.parent
{
   display:flex;
   margin-left:20px;
}

mat-icon
{
    margin-right:10px;  
}

.child-one
{   
    flex-direction: row;  
    align-self: flex-end;
    justify-content: flex-start;   
    width:350px;   
}

.child-two
{   
    margin-top:40px;
    flex-direction:column;
    align-self: flex-end;
    justify-content: flex-start;
}

.child-three
{       
    flex-direction:column;
    align-self: flex-end;
    justify-content: flex-start;
 
}

child-one input
{
    font-size:20px;
}



p
{
font-size:20px;
}

mat-list
{
max-height: 400px;
overflow: auto;
}

mat-divider
{
    margin-top:20px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field
{
    font-size:20px;
}